WEB3_RPC_ENDPOINTS=https://goerli.infura.io/v3/<key>

# Account private key
# Publicity known private key. Generated with `test test ... test` mnemonic.
WALLET_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# App specific
# LIDO_LOCATOR ADDRESS
# Mainnet: 0xC1d0b3DE6792Bf6b4b37EccdcC24e45978Cfd2Eb
# Görli: 0x1eDf09b5023DC86737b59dE68a8130De878984f5
LIDO_LOCATOR=0x1eDf09b5023DC86737b59dE68a8130De878984f5

# DEPOSIT_CONTRACT ADDRESS
# Mainnet: 0x00000000219ab540356cBB839Cbe05303d7705Fa
# Görli: 0xff50ed3d0ec03aC01D4C79aAd74928BFF48a7b2b
DEPOSIT_CONTRACT=0xff50ed3d0ec03aC01D4C79aAd74928BFF48a7b2b

# rabbit / onchain_transport
MESSAGE_TRANSPORTS=rabbit

# rabbit secrets
RABBIT_MQ_URL=ws://127.0.0.1:15674/ws
RABBIT_MQ_USERNAME=guest
RABBIT_MQ_PASSWORD=guest

# Transactions settings
CREATE_TRANSACTIONS=true

# FLASHBOTS_RPC URL
# Mainnet: "https://relay.flashbots.net",
# Görli: "https://relay-goerli.flashbots.net",
FLASHBOTS_RPC=https://relay-goerli.flashbots.net
# Must be different from WALLET_PRIVATE_KEY
FLASHBOT_SIGNATURE=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# List of staking module's ids in which the depositor bot will make deposits
DEPOSIT_MODULES_WHITELIST=1

# Prefix for the Prometheus metrics(depositor_bot,pauser_bot,unvetter_bot)
PROMETHEUS_PREFIX=depositor_bot

# Mellow strategy address for direct deposits
# Holesky: 0x182Cb3A76B0EFaCb25255F9594B5807460882fa4
MELLOW_CONTRACT_ADDRESS=0x182Cb3A76B0EFaCb25255F9594B5807460882fa4
