name: Integration tests

on:
  push:

jobs:
  tests:
    name: App tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Setup poetry
        run: |
          curl -sSL https://install.python-poetry.org/ | python - && echo "$HOME/.poetry/bin" >> $GITHUB_PATH
        env:
          POETRY_VERSION: 1.8.2

      - name: Install dependencies
        run: |
          poetry install

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Integration tests with pytest
        run: |
          poetry run pytest tests -m integration
        env:
          WEB3_RPC_ENDPOINTS: ${{ secrets.WEB3_RPC_ENDPOINT }}
          DEPOSIT_CONTRACT: "0x00000000219ab540356cBB839Cbe05303d7705Fa"
          LIDO_LOCATOR: "0xC1d0b3DE6792Bf6b4b37EccdcC24e45978Cfd2Eb"
          ANVIL_PATH: ""
