name: Tests and checks

on: 
  push:

jobs:
  tests:
    name: App tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Setup poetry
        run: |
          curl -sSL https://install.python-poetry.org/ | python - && echo "$HOME/.poetry/bin" >> $GITHUB_PATH
        env:
          POETRY_VERSION: 1.4.2

      - name: Install dependencies
        run: |
          poetry install

      - name: Unit Tests with pytest
        run: |
          poetry run pytest tests -m unit

      - name: Set up node
        uses: actions/setup-node@v3.0.0
        with:
          node-version: '18.17.1'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run chronix
        run: |
          yarn chronix start &

      - name: Integration tests with pytest
        run: |
          poetry run pytest tests -m integration
        env:
          WEB3_RPC_ENDPOINTS: ${{ secrets.WEB3_RPC_ENDPOINT }}
          DEPOSIT_CONTRACT: "0x00000000219ab540356cbb839cbe05303d7705fa"
          LIDO_LOCATOR: "0xC1d0b3DE6792Bf6b4b37EccdcC24e45978Cfd2Eb"

  security:
    uses: lidofinance/linters/.github/workflows/security.yml@master
    permissions:
      security-events: write
      contents: read

  docker:
    uses: lidofinance/linters/.github/workflows/docker.yml@master

  actions:
    uses: lidofinance/linters/.github/workflows/actions.yml@master
