name: Python application
on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pytest
      env:
        NETWORK: ${{ secrets.NETWORK }}
        WEB3_INFURA_PROJECT_ID: ${{ secrets.WEB3_INFURA_PROJECT_ID }}
        KAFKA_TOPIC: ${{ secrets.KAFKA_TOPIC }}
        KAFKA_BROKER_ADDRESS_1: ${{ secrets.KAFKA_BROKER_ADDRESS_1 }}
        KAFKA_USERNAME: ${{ secrets.KAFKA_USERNAME }}
        KAFKA_PASSWORD: ${{ secrets.KAFKA_PASSWORD }}
